---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Deployment - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="deployment" class="mt0">Deployment</h2>

    <p>Put the files on your web server...easy huh?</p>

    <p>
      set your docroot to the <code>public</code> directory. (we have a .htaccess
      file that does this?) see the <a
        href="https://www.slimframework.com/docs/v4/start/web-servers.html"
        >slim deployment</a
      > docs for more info on deploying w/ various web servers.
    </p>
  </article>
</Layout>
