---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Deployment - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="deployment" class="mt0">Deployment</h2>

    <p>
      Put the files on your web server...easy huh?
    </p>

  </article>
</Layout>
