---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Deployment - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="deployment" class="mt0">Deployment</h2>

    <p>
      Put the files on your web server and set your docroot to the <code
        >public</code
      > directory...easy huh?
    </p>

    <p>
      we have a .htaccess file that handles the routing for apache, see the <a
        href="https://www.slimframework.com/docs/v4/start/web-servers.html"
        class="sys-blue" target="_blank">slim deployment</a
      > docs for more info on deploying with other web servers (nginx, caddy, iis,
      lighttpd).
    </p>

    <p>// fixit - would be cool to have a copy/paste nginx config here</p>

    <p>// fixit copy/paste deploy script / instructions</p>

    <p>you could, opf course, just copy the files with ftp. that absolutely works.</p>

    <p>
      have a modified version of <a href="https://github.com/jyoungblood/0x00-stereo-deploy" class="sys-blue" target="_blank">0x00-stereo-deploy</a> --- this is our favorite way to deploy to a vps w rsync via ssh. Hooked
      up w git, all you gotta do is ./deploy.sh 
    </p>


    <p>
      if you add migrations, queues, tests, or whatever stuff in the future, add any necessary deployment commands to this script ... or do whatever, that's really not my problem.
    </p>

  </article>
</Layout>
