---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Deployment - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="deployment" class="mt0">Deployment</h2>

    <p>
      Put the files on your web server and set your docroot to the <code
        >public</code
      > directory...easy huh?
    </p>

    <p>
      we have a .htaccess file that handles the routing for apache, see the <a
        href="https://www.slimframework.com/docs/v4/start/web-servers.html"
        >slim deployment</a
      > docs for more info on deploying with other web servers (nginx, caddy, iis,
      lighttpd).
    </p>

    <p>// fixit - would be cool to have a copy/paste nginx config here</p>

    <p>// fixit copy/paste deploy script / instructions</p>
    <p>
      here’s our favorite way to deploy to a vps w rsync via ssh (0x00) Hooked
      up w git, all you gotta do is ./deploy.sh [link to 0x00-stereo-deploy]
    </p>
  </article>
</Layout>
