---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Getting Started - STEREO Internet Toolkit">
  <article>
    <h2 id="getting-started">Getting Started</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>

    <h3 id="core-concepts">Core Concepts</h3>

    <div class="columns">
      <div>
        <ul>
          <li><strong>Lorem</strong> - lorem ipsum dolor sit amet</li>
          <li><strong>Ipsum</strong> - consectetur adipiscing elit</li>
          <li><strong>Dolor</strong> - sed do eiusmod tempor</li>
          <li><strong>Sit</strong> - incididunt ut labore</li>
        </ul>
      </div>

      <div style="padding-right: 3rem;">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex...
        </p>
      </div>
    </div>

    <p>
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore!
    </p>

    <h3 id="code-samples">Code Samples</h3>

    <p>
      Look at the source and notice how we're handling the code comments. There
      are some caveats that come with the territory using this highlighting
      library, but we're working on fixes to make this a little easier in the
      future.
    </p>
    fixit escape text in code
    <!-- <pre><code class="language-php">function literally($string){
  return $string;
}</code></pre> -->

    <p>
      And here's some HTML. Again, look at the source and notice how we have
      convert the tag characters to HTML entities.
    </p>

    <pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;&#123;&#123;title&#125;&#125;&lt;/title&gt;
  &lt;meta charset="utf-8" /&gt;
  &lt;meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" /&gt;
  &lt;link rel="stylesheet" href="/css/app.css" /&gt;
&lt;/head&gt;
&lt;body&gt;

  &lt;div class="header"&gt;&lt;h1&gt;Site Title&lt;/h1&gt;&lt;/div&gt;

  &lt;div class="container"&gt;
    <!-- {{outlet}} -->
  &lt;/div&gt;

  &lt;div class="footer"&gt;&amp;copy; &#123;&#123;year&#125;&#125; -- All rights reserved.&lt;/div&gt;

  &lt;script src="/js/vendor/jquery.min.js"&gt;&lt;/script&gt;
  &lt;script src="/js/app.js"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </article>

  
</Layout>
