---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Installation - STEREO Internet Toolkit">
  <article>
    <h2 id="installation">Installation</h2>

    install slim & stuff
    <p>
      <code>composer create-project jyoungblood/stereo [new-project-name]</code>
    </p>
    <p><code>cd [new-project-name]; mv .env.example .env</code></p>
    <p><code>composer start</code></p>
    <!-- <code>php -S localhost:8080</code> -->

    <br /><br />
    install tailwind & vite (optional)
    <p><code>npm install</code></p>
    <p><code>npm run dev</code></p>

    <!-- * tw & vite pre-configured, but optional (if you don't need 'em, don't npm
    install!) -->

    <!--     
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>

    <div class="columns">
      <div>
        <h3>Installation</h3>

        <ul>
          <li><strong>Lorem</strong> - lorem ipsum dolor sit amet</li>
          <li><strong>Ipsum</strong> - consectetur adipiscing elit</li>
          <li><strong>Dolor</strong> - sed do eiusmod tempor</li>
          <li><strong>Sit</strong> - incididunt ut labore</li>
        </ul>
      </div>

      <div>
        <h3>Server Requirements</h3>

        <ul>
          <li><strong>Amet</strong> - ut enim ad minim veniam</li>
          <li>
            <strong>Consectetur</strong> - quis nostrud exercitation ullamco
          </li>
          <li>
            <strong>Adipiscing</strong> - laboris nisi ut aliquip ex ea
          </li>
          <li><strong>Elit</strong> - aute irure dolor in reprehenderit</li>
        </ul>
      </div>
    </div>

    <p>
      <small
        >* NOTE: consectetur adipiscing elit, sed do eiusmod tempor incididunt.</small
      >
    </p>

    <h3>Application Structure</h3>

    <p>
      Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia.
    </p>

    <h3>Included libraries</h3>

    <p>
      Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia.
    </p>
    
    -->
  </article>
</Layout>
