---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Rendering - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="rendering" class="mt0">Rendering</h2>

    STEREO comes with a convenient [rendering package] for easily responding to
    http requests using slim.<br /><br />

    // examples of receiving requests (normal get/post/etc w/ slim)<br /><br />

    // examples of rendering responses with stereo-render (html, json, blade,
    etc)<br /><br />

    
  </article>
</Layout>
