---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Rendering - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="rendering" class="mt0">Rendering</h2>

    STEREO comes with a convenient [rendering package] for easily responding to
    http requests using slim.<br /><br />

    all your backend stuff will go in the 'routes' folder. and OMG check this out: 
    add a new file in this dir and that's it (no need to register, we got automatic routing,
    cool!)

    <br /><br />

    // examples of receiving requests (normal get/post/etc w/ slim)<br /><br />

    // examples of rendering responses with stereo-render (html, json, blade,
    etc)<br /><br />
  </article>
</Layout>
