---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="External Resources - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="resources" class="mt0">External Resources</h2>

    links to alpine components, pines ui, tw components, idk<br /><br />
    maybe cheatsheets, theme generators, icon sets, svg collections, etc<br
    /><br />

    ?? need links to ext docs again here?<br /><br />

    ... all the stuff i've needed so far<br /><br />

    <a class="sys-blue" target="_blank" href="https://github.com/EFTEC/BladeOne">BladeOne docs</a><br /><br />
    <a class="sys-blue" target="_blank" href="https://github.com/EFTEC/BladeOne/wiki">BladeOne wiki</a><br /><br />
    <a class="sys-blue" target="_blank" href="https://github.com/EFTEC/BladeOneHtml">BladeOne html</a><br /><br />
    <a class="sys-blue" target="_blank" href="https://laravel.com/docs/blade">laravel blade syntax</a><br /><br />
    <a class="sys-blue" target="_blank" href="https://www.slimframework.com/docs/v4/">slim4 docs</a><br /><br />

    <a class="sys-blue" target="_blank" href="https://blog.programster.org/slim-4-cheatsheet">slim4 cheatsheet</a><br /><br />


    <br /><br /><br />

    general web dev<br />
    <a class="sys-blue" target="_blank" href="https://thevalleyofcode.com/">thevalleyofcode.com</a> - general web development manual<br />



  </article>
</Layout>
