---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="External Resources - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="resources" class="mt0">External Resources</h2>

    links to alpine components, pines ui, tw components, idk<br /><br />
    maybe cheatsheets, theme generators, icon sets, svg collections, etc<br /><br />

    ?? need links to ext docs again here?<br /><br />

    ... all the stuff i've needed so far<br /><br />

    <a href="https://github.com/EFTEC/BladeOne">BladeOne docs</a><br /><br />
    bladeone wiki<br />
    bladeone html<br />
    laravel blade syntax<br />

slim4 

  </article>
</Layout>
