---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="External Resources - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="resources" class="mt0">External Resources</h2>

    links to alpine components, pines ui, tw components, idk<br /><br /> 

    ?? need links to docs again here?<br /><br />
    <a href="https://github.com/EFTEC/BladeOne">BladeOne docs</a><br /><br />

  </article>
</Layout>
