---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Templates - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="templates" class="mt0">Templates</h2>

    STEREO comes with [Blade] templating capability using the standalone
    [BladeOne] package<br /><br />

    The [BladeOne HTML] components are also available<br /><br />

    We'll provide some examples for the basics, but refer to the [Blade] and
    [BladeOne] docs for more info<br /><br />

    (mirror whatever's in the stereo-render readme)<br />
    // fixit note variables for setting blade views path, cache path, and mode
    (related to compiling & caching behavior). note what the modes do, note how
    cache works, note that paths are relative to the 'public' directory, and
    that they need to be somewhere in the public dir (which is the public
    docroot)<br /><br />

    // here's what the modes do: /** @var int BladeOne reads if the compiled
    file has changed. If it has changed,then the file is replaced. */ AUTO = 0;
    **** AUTO IS DEFAULT /** @var int Then compiled file is always replaced.
    It's slow and it's useful for development. */ SLOW = 1; /** @var int The
    compiled file is never replaced. It's fast and it's useful for production.
    */ FAST = 2; /** @var int DEBUG MODE, the file is always compiled and the
    filename is identifiable. */ DEBUG = 5;
    <br /><br />

    // set it in the .env if you want, or you can use $_ENV['BLADE_VIEW_PATH']
    too. idgaf tbh<br /><br />

    NOTE - blade dynamic components are not supported by bladeone for
    performance reasons, see the [bladeone wiki] for more info?<br /><br />


    // normal example of a typical page that includes layout/wrapper and title
    // variables, logic, loops, including templates, layouts, components<br />
    // using b1html components, writing your own components<br /><br />

    Also note - STEREO can use any templating engine, try [slime-render] if you
    want to swap out blade for handlebars (just remember to set the views
    directory to something different? ... might want to have a tutorial for
    doing this idk) ... twig can work too, so can liquid. you're welcome to do it yourself, idc<br /><br />
  </article>
</Layout>
