---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="Templates - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="templates" class="mt0">Templates</h2>

    STEREO comes with <a href="https://laravel.com/docs/blade" class="sys-blue" target="_blank">Blade</a> templating capability using the standalone
    <a href="https://github.com/EFTEC/BladeOne" class="sys-blue" target="_blank">BladeOne</a> package<br
    /><br />

    The <a href="https://github.com/EFTEC/BladeOneHtml" class="sys-blue" target="_blank">BladeOne HTML</a> components are also available<br /><br />

    We'll provide some examples for the basics, but refer to the <a
      href="https://laravel.com/docs/blade"
      class="sys-blue" target="_blank">Blade</a
    > and
    <a href="https://github.com/EFTEC/BladeOne" class="sys-blue" target="_blank">BladeOne</a> docs
    for more info<br /><br />

    NOTE - blade dynamic components are not supported by bladeone for
    performance reasons. (I'd prefer that they were, but it's not my
    decision...at the moment). See the <a
      href="https://github.com/EFTEC/BladeOne/wiki/Template-Component"
      class="sys-blue" target="_blank">BladeOne Manual</a
    > for more info on how to make components.<br /><br />


    (mirror whatever's in the <a href="https://github.com/jyoungblood/stereo-render" class="sys-blue" target="_blank">stereo-render</a> readme, examples, descriptions, config, general usage ... note what you need to do in the route to connect a view with a url/route)
    <br /><br />

    // normal example of a typical page that includes layout/wrapper and title
    // variables, logic, loops, including templates, layouts, components<br />
    // using b1html components, writing your own components<br /><br />

    Also note - STEREO can use any templating engine, try <a
      href="https://github.com/jyoungblood/slime-render"
      class="sys-blue" target="_blank">slime-render</a
    > if you want to swap out blade for handlebars (just remember to set the views
    directory to something different? ... might want to have a tutorial for doing
    this idk) ... twig can work too, so can liquid. you're welcome to do it yourself,
    idc<br /><br />
  </article>
</Layout>
