---
import Layout from "../../layouts/Docs.astro";
---

<Layout title="What - STEREO Internet Toolkit">
  <article style="margin-top: -1px;">
    <h2 id="what" class="mt0">What is STEREO?</h2>

    <div class="flex flex-wrap">
      <div class="w-100 w-50-ns pr3-ns">
        <p>
          Primarily, STEREO is a pragmatic bundle of tools, pre-wired and ready
          for use.
        </p>

        <p>The tools:</p>

        <ul>
          <li>
            <a href="https://www.slimframework.com/" class="sys-blue">Slim v4</a
            > (w/
            <a href="https://github.com/slimphp/Slim-Psr7" class="sys-blue"
              >Slim PSR-7</a
            >)
          </li>
          <li>
            <a href="https://laravel.com/docs/blade" class="sys-blue"
              >Blade templating</a
            > - using <a
              href="https://github.com/EFTEC/BladeOne"
              class="sys-blue">BladeOne</a
            > and <a
              href="https://github.com/EFTEC/BladeOneHtml"
              class="sys-blue">BladeOne HTML</a
            >
          </li>
          <li>
            View rendering helpers - <a
              href="https://github.com/jyoungblood/slime-render"
              class="sys-blue">Slime Render</a
            >
          </li>
          <li>
            Database handlers - <a
              href="https://github.com/jyoungblood/db-kit"
              class="sys-blue">DB Kit</a
            >
          </li>
          <li>
            Cookie handlers - <a
              href="https://github.com/delight-im/PHP-Cookie"
              class="sys-blue">Cookie</a
            >
          </li>
          <li>
            Simple HTTP client - <a
              href="https://github.com/jyoungblood/http-request"
              class="sys-blue">HTTP Request</a
            >
          </li>
          <li>
            Misc utility functions - <a
              href="https://github.com/jyoungblood/x-utilities"
              class="sys-blue">X-Utilities</a
            >
          </li>
          <li>
            <a href="https://tailwindcss.com/" class="sys-blue">TailwindCSS</a>
          </li>
          <li><a href="https://alpinejs.dev/" class="sys-blue">AlpineJS</a></li>
          <li>
            <a href="https://vitejs.dev/" class="sys-blue">Vite</a> & <a
              href="https://postcss.org/"
              class="sys-blue">PostCSS</a
            > integration coming soon
          </li>
        </ul>

        <p>
          This toolkit also provides a simple application structure and
          (forthcoming) opinions and methodology for developing applications
          quickly using these tools. These process are not dogmatic, but aim to
          provide helpful suggestions for "next steps" and answers for how to
          build specific kinds of functionality.
        </p>

        <p>
          In the future this will be a central resource for copy/paste
          components, links to resources, etc.
        </p>

        <p>
          ...all in due time, of course. I'm only one guy and I have a pretty
          busy life.
        </p>

        <p>
          STEREO has developed slowly over the last fifteen-ish years and I'm
          finally getting around to making it more user-friendly to those who
          could benefit. <a href="mailto:jonathan.youngblood@gmail.com"
            >Drop me an email</a
          > if you'd like to get involved.
        </p>
      </div>
      <div class="w-100 w-50-ns pl3-ns">
        <img
          class="w-100"
          src="/images/workflow-analogy.jpg"
          alt="Man on his knees in front of a component stereo system"
        />

        <br /><br />

        <div class="embed-container">
          <iframe
            title="YouTube video player"
            src="https://www.youtube.com/embed/AnrM4UjaQmY?si=g7Ah6-5X-8vG38os"
            frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </article>
</Layout>
