<!doctype html>
<html class="h-100">
  <head>
    <title>STEREO - Internet Toolkit</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.css"
    />
    <link rel="stylesheet" href="/css/styles.v2.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
    <!-- <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script> -->

    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
    <!-- <script src="/js/scripts.js"></script> -->

    <style></style>
  </head>
  <body class="sans-serif h-100 ma4">
    <div class="mw8 mt6 center">
      <!-- items-center -->
      <div class="flex-ns justify-between mb6">
        <div class="flex mb2 pl1">
          <a href="/" class="black no-underline"
            ><img
              src="/images/stereo-headphones-black.svg"
              class=""
              style="height: 2.75rem;"
            /></a
          >
          <div class="ml2 pl1 pt1 lh-title">
            <div class="f4 fw7">
              <a class="black no-underline" href="/">STEREO</a>
            </div>
            <div class="f6">
              <a class="black no-underline" href="/">INTERNET TOOLKIT</a>
            </div>
          </div>
        </div>

        <div class="f6 pl0-ns pl1 pt0-ns pt3">
          <!-- <a class="black-40 hover-black-80 no-underline fw5 ml3" href="/docs"
            >Docs</a
          > -->
          <!-- <a
            class="black-40 hover-black-80 no-underline fw5 ml3"
            href="https://github.com/jyoungblood/stereo">Source</a
          > -->

          <span class="black-40">v2 coming soon</span>
        </div>
      </div>

      <div class="flex-ns mb6">
        <div class="w-60-ns w-100">
          <div class="f1-ns f2 lh-solid mb4">
            <!-- The toolkit for internet makers -->
            <!-- Web development doesn't have to be so difficult! -->
            Build the simplest possible version and then move on with your life!
          </div>
          <div class="f4 lh-title">
            STEREO is a "full stack" tool kit designed to make the process of
            developing dynamic server-rendered web applications significantly
            easier and more enjoyable. <br /><br />Spend less time fighting with
            software and more time enjoying life with your family and friends.
          </div>

          <br /><br /><br />
          <div class="">
            <a
              href="/docs"
              class="dib bg-black white pv2 ph3 br2 no-underline hover-underline f6 mr2"
              ><span class="dib pv1">User Manual</span></a
            >

            &nbsp;

            <a
              href="https://github.com/jyoungblood/stereo"
              class="dib bg-black-50 white pv2 ph3 br2 no-underline hover-underline f6 mr2"
              ><span class="dib pv1">Source</span></a
            >
          </div>
        </div>

        <div class="w-10"></div>
        <div class="w-30">
          <!-- links idk<br />download buttons?<br /><br /> ripping off fathom: -->
          <!-- <a href="https://usefathom.com/pricing/infrastructure"
            >https://usefathom.com/pricing/infrastructure</a
          >
          <br /><br />
          tool kit for internet makers<br /><br />
          a productive workflow for pragmatists with deadlines -->
        </div>
      </div>

      <!-- 

      <div class="flex
            flex-wrap">
        <div class="w-50 pr4 pb5 f3 lh-title fw4 fa-purple">
          <b>Web development doesn't have to be so difficult!</b> - You don't have
          to write SO MUCH code to make something that works. It can always be improved,
          but you don't need to waste time trying to write it in the IDEAL way, just
          write something that works.
        </div>
        <div class="w-50 pl4 pb5 f3 lh-title fw4 fa-green">
          <b>The toolkit for internet makers</b> - Less of a framework and more of
          a standardized (and documented) methodology for solving specific problems
          Using an agreed-upon (curated, pre-vetted) set of tools and solutions (3rd
          party libraries, etc). It's a productive workflow for pragmatists with deadlines.
        </div>
        <div class="w-50 pr4 pb5 f3 lh-title fw4 fa-blue">
          <b>Write less code</b> - Fewer moving pieces means fewer broken parts.
          Simplified structure = less code to write.
        </div>
        <div class="w-50 pl4 pb5 f3 lh-title fw4 fa-pink">
          <b>It's an ideology</b> - Not as much about the technical execution as
          it is the conventions, opinions, and workflow Focus on understandability
          and speed (promotes developer velocity, ability to deliver quickly)
        </div>
      </div>
 -->

      <!-- MailerLite Universal -->
       <style>
        .ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody{
          padding: 0;
        }
       </style>
      <script>
        (function (w, d, e, u, f, l, n) {
          (w[f] =
            w[f] ||
            function () {
              (w[f].q = w[f].q || []).push(arguments);
            }),
            (l = d.createElement(e)),
            (l.async = 1),
            (l.src = u),
            (n = d.getElementsByTagName(e)[0]),
            n.parentNode.insertBefore(l, n);
        })(
          window,
          document,
          "script",
          "https://assets.mailerlite.com/js/universal.js",
          "ml"
        );
        ml("account", "1080419");
      </script>
      <!-- End MailerLite Universal -->

      <div class="flex flex-wrap mb6">
        <div class="w-40-ns w-100">
          <div class="bg-white br2 ml-embedded pb3 ph2" data-form="CY0jV6">
          </div>
        </div>
        <!-- <div class="w-60-ns w-100 pl3">
          <div class="bg-black-10 w-100 h-100 o-50">

          </div>
        </div> -->
      </div>

      <div class="mb6">
        &nbsp;

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>

    <!-- 
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
    />
 -->

    <!-- 
    <div class="ma5 lh-copy">
      <img src="/images/stereo-headphones-black.svg" style="height: 2.75rem;" />

      <img class="w3" src="/images/dw-triangles-transparent.png" />

      <br /><br />

      <b>STEREO 2.0.1</b><br /><br />

      A helpful tool kit<br />

      for internet makers<br /><br /><br />

      for pragmatists with deadlines<br /><br /><br />

      <a
        href="/docs"
        class="bg-black-90 white pv2 ph3 br2 no-underline hover-underline f6 mr2"
        >User Manual</a
      >
      <a href="/docs" class="bg-black white pv2 ph3 br2 no-underline hover-underline f6 mr2">Documentation</a>

      <a href="/docs" class="sys-blue">docs</a> &nbsp;|&nbsp;

      

  <a href="/components" class="sys-blue">components</a> &nbsp;|&nbsp;
  
  <a href="/guide" target="_blank" class="sys-blue">field guide</a> &nbsp;|&nbsp;
  

      <a href="https://github.com/jyoungblood/darkwave" target="_blank" class="sys-blue">source</a>
      <a
        href="https://github.com/jyoungblood/stereo"
        target="_blank"
        class="bg-black-30 white pv2 ph3 br2 no-underline hover-underline f6"
        >Source</a
      >

      <br /><br /><br />

      <span class="f7">
        <div class="f6 fw6 mb3">Quick start:</div>

        <code class="dib mb3 bg-black-05 pa1"
          >composer create-project jyoungblood/stereo [new-project-name]</code
        ><br />
        <code class="dib mb3 bg-black-05 pa1"
          >cd [new-project-name]; mv .env.example .env</code
        ><br />
        <code class="dib mb3 bg-black-05 pa1">php -S localhost:6969</code><br />
      </span>




      <br /><br /><br /><br /><br /><br /><br />

      <div class="flex mb2 pl1 tl mb3">
        <a href="/" class="black no-underline"
          ><img
            src="/images/stereo-headphones-black.svg"
            class=""
            style="height: 2.75rem;"
          /></a
        >
        <div class="ml2 pl1 pt1 lh-title">
          <div class="f4 fw7">
            <a class="black no-underline" href="/">STEREO</a>
          </div>
          <div class="f6">
            <a class="black no-underline" href="/">TOOLKIT 2.0.1</a>
          </div>
        </div>
      </div> 


      <br /><br /><br /><br /><br /><br /><br />
      <div class="cf f7">
    <div class="flex items-center">
      <div class=""><a class="black no-underline" target="_blank" href="https://hxgf.io/"><img style="width: 3.5rem;" class="db" src="./images/hxgf-bug.png" /></a></div>
      <div class="pl1 ml3 o-50 fs80 ">
        <div class="">© 2024 <a class="black" target="_blank" href="https://hxgf.io/">HXGF</a></div>
        (CC) <a class="black" target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/us/">BY-SA 3.0</a>
      </div>
    </div>
  </div>

    </div>
 -->

    <a
      class="fixed bottom-0 right-0 ma3 black no-underline f7 hover-underline hover-bg-black hover-white"
      href="https://jyoungblood.github.io/">&copy; JY ♥</a
    >

    <!-- <script src="https://instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script> -->
    <!-- <script src="https://cdn.skypack.dev/@hotwired/turbo"></script> -->

    <script
      src="https://beamanalytics.b-cdn.net/beam.min.js"
      data-token="4345c349-059a-42dd-8483-67b7c0730da6"
      async></script>
  </body>
</html>
