---

---

<div class="flex flex-wrap items-center">
  <div class="w-full md:w-1/2 md:pr-8 mb-6 md:mb-0">
    <!-- !leading-[1.3] -->
    <p class="">
      We've chosen a practical mix of "boring" technologies and assembled them
      in a reasonable manner, giving you a good starting point for building
      reliable web-based functionality.
      <br /><br />
      <span class="font-semibold"
        >Spend less time fighting with software and more time enjoying life with
        your family and friends!</span
      >
    </p>
  </div>
  <div class="w-full md:w-1/2 md:pl-8">
    <div
      class="ml-embedded shadow-md border border-gray-200 rounded-md pb-3 px-3"
      data-form="CY0jV6"
    >
    </div>
  </div>
</div>
<script is:inline>
  (function (w, d, e, u, f, l, n) {
    (w[f] =
      w[f] ||
      function () {
        (w[f].q = w[f].q || []).push(arguments);
      }),
      (l = d.createElement(e)),
      (l.async = 1),
      (l.src = u),
      (n = d.getElementsByTagName(e)[0]),
      n.parentNode.insertBefore(l, n);
  })(
    window,
    document,
    "script",
    "https://assets.mailerlite.com/js/universal.js",
    "ml"
  );
  ml("account", "1080419");
</script>
